{
    "databases": {
        "db1": {
             "host": "your_mysql_host1",
            "user": "your_mysql_user1",
            "password": "your_mysql_password1",
            "database": "your_mysql_database1",
            "api_keys": ["api_key_1", "api_key_2"]
        },
        "db2": {
            "host": "your_mysql_host2",
            "user": "your_mysql_user2",
            "password": "your_mysql_password2",
            "database": "your_mysql_database2",
            "api_keys": ["api_key_3", "api_key_4"]
        }
    }
}
